# Dependencies
node_modules/

# Zip Archives & Duplicate Raw Extraction Folder
*.zip
Video Frame Extractor 2026-08-20 0_25_34 GMT+5_30/

# System & OS Files
.DS_Store
Thumbs.db
*.log

# Scratch / Temp files
generate_assets.js
